link(rel="stylesheet", href="/src/components/animations/newanimation/newanimation.css")
.centerXY
    .container1(style="--box-color:160; --tX:170%; --tY: 0%;")
        .block1
            //- a(href="#")
    .container1(style="--box-color:70; --tX:50%; --tY: 120%;")
        .block1
            //- a(href="#")
    .container1(style="--box-color:220; --tX:-100%; --tY: -100%;")
        .block1
            //- a(href="#")
    .container1(style="--box-color:10; --tX:50%; --tY: 0%;")
        .block1.vibrate-2
            //- a(href="#")
    .container1(style="--box-color:50; --tX:50%; --tY: -120%;")
        .block1
            //- a(href="#")
    .container1(style="--box-color:120; --tX:-70%; --tY: 0%;")
        .block1
            //- a(href="#")
    .container1(style="--box-color:190; --tX:190%; --tY: 100%;")
        .block1
            //- a(href="#")