link(rel="stylesheet", href="/src/components/animations/menu3d/menu3d.css")
.centerXY.menu-3d
    ul
        li(style="--i:6")
            a(href="javascript:void(0);") HOVER
        li(style="--i:5")
            a(href="javascript:void(0);") ME
        li(style="--i:4")
            a(href="javascript:void(0);") TO SEE 
        li(style="--i:3")
            a(href="javascript:void(0);") A GOOD
        li(style="--i:2")
            a(href="javascript:void(0);") CSS