script(src="/src/components/animations/movingsquares/movingsquares.ts") 
link(rel="stylesheet", href="/src/components/animations/movingsquares/movingsquares.css")
.squares
    .layer.center-to-right
    .layer.green-to-left
    .layer.center-to-bottom
    .layer.vibrate-1
    .layer.center-to-top
    .layer.green-to-right
    .layer.center-to-left