link(rel="stylesheet", href="/src/components/animations/gifanimation/gifanimation.css")
img( class="gifanimation" src="/src/components/animations/gifanimation/images/gifanimation.gif" alt="GIF Animation"  loading="lazy")