meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(rel='stylesheet', href='https://unpkg.com/normalize.css@8.0.1/normalize.css')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='apple-touch-icon', sizes='180x180', href='utils/header/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='utils/header/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='utils/header/favicon-16x16.png')
link(rel='manifest', href='utils/header/site.webmanifest')
noscript You have Javascript disabled, please enable it to view this website.
meta(name='description' content='Various demo voxel animations')
meta(name='author' content='Fredy Sandoval')
meta(name='keywords' content='voxel, animation, css, javascript')
link(rel="stylesheet", href="/src/components/body.css")
title Voxel Animations