link(rel="stylesheet", href="/src/components/organisms/css/header-style.css")
//- .wrapper-container
//-     .demo-container
//-         img.kenburns-top(src="/src/components/organisms/images/magicavoxel1.png", alt="Magicavoxel")
//-         .image-container
//-             .imagetext.title
//-             .imagetext.author
//- div.line