//- script(src="/src/components/animations/spritescss/lazyload.js")
//- script(src="/src/components/animations/spritescss/spritescss.js")
script(src="/src/components/animations/spritescss/spritescss.ts")
script(src="/src/components/animations/spritescss/lazyload.ts")
link(rel="stylesheet", href="/src/components/animations/spritescss/spritescss.css")
.lazy#sprite-container