link(rel="stylesheet", href='./components/animations/hoverme/hoverme.css')
//- https://elrumordelaluz.github.io/csshake/
link(rel="stylesheet", href='./components/animations/hoverme/csshake-rotate.css')
link(rel="stylesheet", href='./components/animations/hoverme/csshake-slow.css')
link(rel="stylesheet", href="./components/animations/hoverme/flip-vertical-right.css")
.computer1
    .layer.floor.shake-slow.shake-constant.shake-constant--hover
    .layer.case
    .layer.monitor.shake-slow.shake-constant.shake-constant--hover
    .layer.keyboard.shake-rotate.shake-constant.shake-constant--hover